@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-login {
    @apply font-[bold] tracking-[5px] uppercase text-[#2c9caf] transition-all duration-1000 text-[15px] relative overflow-hidden px-[2em] py-[1em] rounded-[5px] border-[none];
    outline: 2px solid #2c9caf;
  }

  .btn-login:hover {
    @apply text-white shadow-[4px_5px_17px_-4px_#268391] scale-110;
    outline: 2px solid #70bdca;
  }

  .btn-login::before {
    @apply content-[""] absolute left-[-50px] w-0 h-full bg-[#2c9caf] skew-x-[45deg] z-[-1] transition-[width] duration-1000 top-0;
  }

  .btn-login:hover::before {
    @apply w-[250%];
  }

  .btn-courselist {
    @apply flex items-center font-medium text-[17px] text-[white] tracking-wider pl-[0.9em] pr-[1.3em] py-[0.8em] rounded-2xl border-[none];
    font-family: inherit;
    background: #ad5389;
    background: linear-gradient(to right, #2563EB, #2563EB, #2563EB);
  }
  .btn-courselist svg {
    @apply rotate-[30deg] transition-transform duration-[0.5s] ease-[cubic-bezier(0.76,0,0.24,1)] mr-[3px];
  }
  .btn-courselist span {
    @apply transition-transform duration-[0.5s] ease-[cubic-bezier(0.76,0,0.24,1)];
  }
  .btn-courselist:hover svg {
    @apply translate-x-[5px] rotate-90;
  }
  .btn-courselist:hover span {
    @apply translate-x-[7px];
  }
  .sidebarTile {
    @apply  font-semibold p-2 rounded-2xl  text-gray-400 hover:text-white hover:bg-[#7EA8EB] transition ease-in-out duration-500 cursor-pointer;
  }
}
